:root {
  --color-accent: oklch(88.68% 0.1821 95.33);
}

html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav {
  display: flex;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid;
  border-bottom-color: oklch(80% 3% 220);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 220);
  padding-bottom: 0.3em;
  margin-bottom: -8px;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 0.3em;
  margin-bottom: -8px;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form input, form textarea, form button {
  font: inherit;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h1 {
  font-size: 280%;
  line-height: 1.1;
  text-wrap: balance;
}

h2 {
  margin: 0;
  font-size: 180%;
  line-height: 1.1;
  text-wrap: balance;
}

h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  padding: 2em;
}

.skills {
  border-radius: 8px;
  padding: 1em;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  margin-bottom: 0.5em;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#profile-stats dt {
    font-weight: bold;
    grid-row: 1;
}

#profile-stats dd {
    grid-row: 2;
    margin: 0;
}

img {
  max-width: 270px;
  height: auto;
}

.project-year {
  font-family: Baskerville;
  font-variant-numeric: oldstyle-nums;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.legend {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend .swatch {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 0.25em;
  background-color: var(--color);
}

.searchBar {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}