:root {
  --color-accent: oklch(88.68% 0.1821 95.33);
}

html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav {
  display: flex;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid;
  border-bottom-color: oklch(80% 3% 220);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 220);
  padding-bottom: 0.3em;
  margin-bottom: -8px;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 0.3em;
  margin-bottom: -8px;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form input, form textarea, form button {
  font: inherit;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h1 {
  font-size: 280%;
  line-height: 1.1;
  text-wrap: balance;
}

h2 {
  margin: 0;
  font-size: 180%;
  line-height: 1.1;
  text-wrap: balance;
}

h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  padding: 2em;
}

.skills {
  border-radius: 8px;
  padding: 1em;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  margin-bottom: 0.5em;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}